

// Colors

$enable-grid-classes:       true !default;

// Grid breakpoints
$grid-breakpoints: (
	sm: 720px,
	md: 1140px
);


// Grid containers
$container-max-widths: (
	sm: 720px,
	md: 1140px
);


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                1;
$grid-gutter-width:           30px;
